/* ----- ----- GENERIC ----- ----- */
body {
  font-family: 'Roboto', sans-serif;
  margin: auto;
  height: 100vh;
  width: 100vw;
}

#root,
#root > div {
  width: 100%;
  height: 100%;
}

/* ----- ----- MARGIN ----- ----- */
.m-auto {
  margin: auto !important;
}

.m-2r {
  margin: 2rem !important;
}

/* ----- ----- DISPLAY ----- ----- */
.d-flex {
  display: flex !important;
}

.d-col {
  display: flex !important;
  flex-direction: column !important;
}

.w-100 {
  width: 100% !important;
}

.h-100 {
  height: 100% !important;
}

.center-content {
  align-content: center !important;
  text-align: center !important;
}

.br-20px {
  border-radius: 20px !important;
}

/* ----- ----- FONT ----- ----- */
.font-3r {
  font-size: 3rem !important;
}
